* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

header {
  width: 100%;
  font-size: 5vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.5rem;
  background-color: gainsboro;
  height: 10vh;
  display: flex;
  font-weight: bolder;
  justify-content: center;
  background-color: whitesmoke;
  align-items: center;
  border-bottom: black 0.1rem solid;
}

.score-board {
  width: 20%;
  border: gainsboro 2px solid;
  margin: 5vh auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  height: 10vh;
  background-color: whitesmoke;
  position: relative;
}
.img {
  height: 10vh;
  /* width: 10vw; */
}
.badge {
  background-color: turquoise; /* width: 5vw; */
  text-align: center;
  /* margin: 1rem; */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2vh;
  padding: 0.2rem;
}
.user {
  position: absolute;
  top: 3vh;
  left: -2.5vh;
}
.computer {
  position: absolute;
  top: 3vh;
  right: -7vh;
}
.choices {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
  align-content: center;
}
.choice {
  border: gray 0.1rem solid;
  border-radius: 50%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  padding: 4vh 4vw;
  transition: all 0.3s ease;
  justify-content: center;
}

.choice_label {
  padding-top: 0.5rem;
}
.result {
  text-align: center;
}
.result > p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 6vh;
  color: whitesmoke;
}
.comp_choice {
  font-size: 5vh;
  color: whitesmoke;
  margin: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.choice:hover {
  background-color: turquoise;
  cursor: pointer;
}

p {
  text-align: center;
  color: whitesmoke;
  font-size: 3vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.end {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
#end_game {
  padding: 0.5rem 1rem;

  text-align: center;
  margin: 1rem;
}
